.landing-div{
    display: grid;
    grid-template-columns: 20fr 3fr 4fr 1fr;
    grid-template-rows: 3fr 3fr 1.5fr 3fr;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/unboxing.png');
    background-size: 100% 100%;
}

.introduction-text{
    grid-column: 2/4;
    grid-row: 2/3;
}

.introduction-text h2{
    line-height: 2.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-light-blue);
}

.plans-btn{
    margin-top: 1rem;
    grid-row: 3/4;
    grid-column: 2/3;

    background-color: Transparent;
    border: 1px solid var(--color-dark-blue);
    padding: 0.2rem 0.6rem;
    border-radius: 20px;
    opacity: 1;
}

.plans-btn a:hover{
    text-decoration: none;
}

.plans-btn span{
    font-weight: 550;
    color: var(--color-dark-blue);
    text-align: left;
    font-size: 0.8rem;
    letter-spacing: 0px;
    color: #280091;
    opacity: 1;
}

.forward-icon{
    margin-left: 1rem;
    height: auto;
    width: 10px;
}