.plans-div{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-grey-lighter);
    grid-template-rows: 3fr 2fr 0fr 1fr 12fr 1fr 2fr;
    grid-template-columns: 2.38fr 1.19fr 10fr 11fr 10fr 3.57fr;
}

.plans-title{
    grid-row: 2/3;
    grid-column: 2/7;
}

.plans-purple-line{
    width: 3%;
    height: 1.2px;
    background-color: var(--color-dark-blue);
}

.plans-title h1{
    color: var(--color-dark-blue);
    font-weight: 600;
    font-size: 1.3rem;
}

.cards{
    border-radius: 25%;
}

.first-card{
    grid-column: 3/4;
    grid-row:  5/7;
}

.second-card{
    grid-column: 4/5;
    grid-row: 4/6;
    background: blue;
}

.third-card{
    grid-column: 5/6;
    grid-row: 5/7;
    background: pink;
}