.navbar-links{
    width: 100%;
    display: flex;
}

.navbar-links a:hover{
    text-decoration: none;
}

.login-btn:hover {
    transition: 0.4s;
    background-clip: border-box;
    background-color: var(--color-dark-blue);
}

.login-btn:hover span{
    transition: 0.4s;
    color: white;
}

.login-btn{
    margin: 0 2.8rem 0 0.8rem;
    background:#FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-dark-blue);
    padding: 0 0.8rem;
    border-radius: 25px;
    opacity: 1;
}

.login-btn span{
    color: var(--color-dark-blue);
    text-align: left;
    font-size: 0.9rem;
    letter-spacing: 0px;
    color: #280091;
    opacity: 1;
}